@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
.bannerBg {
  background-image: url("/public/banner.jpeg");
  object-fit: cover;
}
